.contenedor {
    padding: 10px;
    height: 100vh;
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form {
    background-color: #454c5a;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border-radius: 10px;
    grid-area: barra-superior;
    width: 400px;
    max-width: 100%;
}

input{
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 5px;
    margin-bottom: 15px;
    width: 100%;
}

button {
    background-color: #515b6c;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px;
    width: 100%;
}
